.m {
    position: relative;

    .pizza {
        width: 300px;
        margin-left: 30%;
        position: relative;
        border-radius: 50%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 500px;
            height: 500px;
        }

        .terkib {
            width: 100px;
            position: relative;
            top: -350px;
            left: 47%;
            transform: translate(-47%, -50%);

            img {
                width: 100px;
                height: 100px;
            }
        }

    }

    .ref {
        position: absolute;
        width: 300px;
        height: 300px;
        top: -5%;

        .div {
            display: flex;
        }

        .terkib {
            width: 100px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .pomidor1 {
            position: relative;
            left: 100%;
            display: none;
            // opacity: 0;
            // visibility: hidden;

            &.p {
                // visibility: visible;
                // opacity: 1;
                display: block;
                margin-left: 100%;
            }

            img {
                margin-left: 90px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }


    }
}